/* table of contents:
    1.variables
    2.layout
    3.timeline
    4.typography */

/* TODO
    meteor after page loaded animation
    reveals the header text
    everything else */


/* 1.variables */

:root{
    --space-gradient: linear-gradient(270deg,   #19475d 0%,
                                                #256386 100%);
}


/* 2.layout */

.masthead{
    background: url("../assets/img/milkyway.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1{
    
    color: black;
    -webkit-text-fill-color: white; /* Will overridcolor (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
          background-clip: text;
}

.about-section,
.projects-section,
.signup-section,
.skills-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.profile-pic{
    max-width: 50vw;
}

@media (min-width: 520px){
    .profile-pic{
        max-width: 15rem;
    }
}

.progress-bar{
    background: rgb(5,46,65);
    background: var(--space-gradient)
}

/* 3.timeline */

.timeline {
    border-left: 3px solid #256386;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: transparent;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 80%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.event p{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.event small{
    margin-bottom: 1rem;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    /* padding-bottom: 25px; */
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -185px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    color: white;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #256386;
    box-shadow: 0 0 0 3px #256386;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

/* 4.typography */

small{
    color: white;
}

.event small{
    color: grey;
}
